header nav.navbar-default {
  background-color : white;
  background-image : none;
  border : none;
  margin-bottom : 0px;
  margin-top : 10px;
  font-size : 1.3em;
  font-family: Neo Sans W10 Medium;
  color : #111;
}

header .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #fff;
  background-color: #9AC31B;
  border-radius : 5px;
}

header a.brand {
  font-family: Neo Sans W15 Bold;
  color: black;
}

div.logo {
  background-image : url(../images/squeryl_logo_lg.png);
  display : block;
  height : 328px;
  width: 399px;
}

div.logo span {
  display : none;
}

div.jumbotron {
  background-color : black;
  color : white;
  margin-bottom : 0;
  background-image : url(../images/home_mid_bg.png);
  background-position : center bottom;
  background-repeat : no-repeat;
}

div.jumbotron p {
  padding : 0 10px;
}

div.jumbotron a.btn-success {
  background-color : #9AC31B;
  border-color : #222;
  font-size : 2em;
}

div.jumbotron a.btn-success:hover {
  background-color : #B2CC30;

}

div.jumbotron div.btn-container {
  margin-left : 60%;
  margin-top : 60px;
}


.carousel-control {
  width : auto;
  color : #9bc31a ;
}

.carousel-control:hover {
  color : #c8de80  ;
}

.carousel-control.left, .carousel-control.right {
  background-image : none;
}


@media screen and (min-width: 768px) {
  div.jumbotron p {
    font-size : 2em;
  }
}

@media (min-width: 992px) {
  div.jumbotron p {
    font-size : 3em;
  }
}


div.suboptions {
  background-color : #9AC31B;
  padding : 20px 0;
}

div.suboptions h4 {
  font-size : 2em;
  font-weight : normal;
  color : black;
  font-family: Neo Sans W10 Medium;
  text-align : center;
  margin-top : 20px;
}

div.suboptions div.circle {
  width : 100px;
  height : 100px;
  margin : auto;
  background-image : url(../images/home_circles.png);
}

div.suboptions div.circle.validated {
  background-position : 0 0;
}

div.suboptions div.circle.declaritive {
  background-position : -100px 0;
}

div.suboptions div.circle.repeated {
    background-position : -200px 0;
}

div.quotes {
  min-height : 200px;
  padding : 50px 0;
}

div.quotes strong {
  font-weight : bold;
  font-family: Neo Sans W15 Bold;
}

div.quotes div.quotedtext {
  background-image : url(../images/dropquote.png);
  background-repeat : no-repeat;
  background-position : top left;
  padding-left : 50px;
  font-family:'Neo Sans W10';
}

div.quotes div.quotedtext p.quotable {
  font-size : 1.5em;
}

div.quotes div.quotedtext p.attribution {
  font-size : 1.2em;
  text-align : right;
  margin-right : 20%;
  margin-top : 15px;
}

footer {
  background-color : black;
  color : white;
  min-height : 75px;
  padding : 25px 0;
  text-align : center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
  div.logo {
    background-image : url(../images/squeryl_logo_lg@2x.png);
    background-size: 399px;
  }

  div.suboptions div.circle {
    background-image : url(../images/home_circles@2x.png);
    background-size : 300px;
  }
}

@media screen and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
  div.logo {
    width: 360px;
    height: 290px;
    background-size: 360px;
  }
}

@media screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 2) {
  div.logo {
    width: 280px;
    height: 230px;
    background-size: 280px;
  }
}
